<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%= _.map(breadcrumbs, 'label').reverse().join(' ‹ ') %></title>
		<link rel="stylesheet" href="/styles/bootstrap.min.css">
		<link rel="stylesheet" href="/styles/main.css">
	</head>
	<body>
		<div class="jumbotron" id="header">
			<div class="container">
				<div>
					<h1><a href="/"><img src="/images/logo-sails.png" id="logo-sails"><img src="/images/logo-blog.png" id="logo-blog"></a></h1>
					<p class="lead">A blog system written on the Sails.js framework, using MongoDB for document storage.</p>
				</div>
				<ol class="breadcrumb" id="breadcrumbs">
					<% breadcrumbs.forEach(function (breadcrumb, i) { %>
					<li><a href="<%= breadcrumb.href %>"><%= breadcrumb.label %></a></li>
					<% }) %>
				</ol>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<%- body %>
			</div>
		</div>

		<div class="container" id="footer">
			<p>powered by <a href="http://sailsjs.org/" target="_blank">Sails.js</a> and <a href="http://mongodb.org/" target="_blank">MongoDB</a>, written by <a href="http://mmiller.me/" target="_blank">Matt Miller</a></p>
		</div>
	</body>
</html>