body {
	padding-top: 60px;
	padding-bottom: 20px;
}

@media (max-width: 767px) {
	body {
		padding-top: 160px;
	}
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 26.5px;
		padding-bottom: 14.5px;
	}
}

sb-post-table > table {
	table-layout: fixed;
	border-bottom: 2px solid #DDDDDD;
	min-width: 630px;
}

sb-post-table > table .created,
sb-post-table > table .modified,
sb-author-table > table .created,
sb-author-table > table .modified {
	width: 160px;
}

.action-menu {
	float: right;
	margin-top: 34px;
}

sb-post-table > table .author {
	width: 240px;
}

@media (max-width: 991px) {
	sb-post-table > table .author {
		width: 120px;
	}
}

sb-post-table > table tbody tr:hover,
sb-author-table > table tbody tr:hover {
	cursor: pointer;
}

.table-striped > tbody > tr.info > th,
.table-striped > tbody > tr.info > td {
	background-color: #D9EDF7;
}

.table-striped > tbody > tr.info:nth-of-type(odd):not(:hover) > th,
.table-striped > tbody > tr.info:nth-of-type(odd):not(:hover) > td {
	background-color: #D3E7F1;
}

.table-striped > tbody > tr.info:hover > th,
.table-striped > tbody > tr.info:hover > td {
	background-color: #C4E3F3;
}

p.success,
p.error {
	padding: 15px;
}

.form-control-static {
	padding: 4px 0;
	font-size: 16px;
}

sb-edit-post #editPost_body {
	height: 200px;
	height: 40vh;
	min-height: 100px;
	resize: vertical;
}

sb-edit-post #editPost_preview {
	background: #F6F6F6;
	padding: 20px;
}

sb-edit-post #editPost_preview > :first-child {
	margin-top: 0;
}

sb-edit-post #editPost_preview > .post > :last-child {
	margin-bottom: 0;
}

sb-edit-post #editPost_body {
 	font-family: Monaco, Consolas, monospace;
}