<div class="col-sm-12">
	<h2>404 Not Found</h2>
	<p>It looks like we couldn’t find the <%= data && data.resource ? data.resource : 'reource' %> you were looking for.</p>
	<p>There might be a typo in the URL, or it could have been moved or deleted.</p>
</div>