<div class="col-sm-12">
	<h2>500 Server Error</h2>
	<p>We ran into a problem while looking for that <%= data.resource %> on our side.</p>
	<p>Sorry about that! We’ve logged the error so administrators will be able to diagnose the issue.</p>
</div>