<div class="col-sm-12">
	<div class="authors">
		<% authors.forEach(function (author) { %>
		<div class="author">
			<h2><a href="/authors/<%= author.id %>"><%= author.displayName %></a></h2>
			<div class="author-bio"><%- author.bio %></div>
		</div>
		<% }) %>
	</div>
</div>