<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%= title %></title>
		<!--STYLES-->
		<link rel="stylesheet" href="/styles/bootstrap.min.css">
		<link rel="stylesheet" href="/styles/main.css">
		<!--STYLES END-->
	</head>
	<body>
		<div class="container">
			<div>
				<h1>sails-blog</h1>
				<p class="lead">A blog system written on the Sails.js framework, using MongoDB for document storage.</p>
			</div>

			<div class="row">
				<%- body %>
			</div>
		</div>

		<!--TEMPLATES-->

		<!--TEMPLATES END-->
		<!--SCRIPTS-->
		<script src="/js/dependencies/sails.io.js"></script>
		<!--SCRIPTS END-->
	</body>
</html>